<mat-spinner class="spinner" *ngIf="loader"></mat-spinner>
<div *ngIf="!loader">
  <mat-form-field>
      <mat-label>Cities</mat-label>
      <mat-select (selectionChange)="getWeatherForCity($event)">
        <mat-option *ngFor="let city of citiesList" [value]="city" >{{ city.city }}</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div *ngIf="weatherData">
  <div *ngIf="weatherForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="weatherForm">
      <mat-form-field class="example-full-width">
        <mat-label>Main</mat-label>
        <input matInput  formControlName="main" readonly="">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" readonly>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Submit</button>
      &nbsp;
      <button type="button" mat-raised-button color="warn" (click)="clearForm()">Cancel</button>
    </form>
  </div>
</div>
